body {
    margin: 0px;
}

.MuiInputBase-root {
    /* FIXME: Non va bene, va gestito come tema */
    background: #ffffff !important;
}

#order-search-bar .MuiPickersOutlinedInput-notchedOutline {
    border: none !important;
}

#order-search-bar .MuiPickersInputBase-sectionsContainer {
    width: 120px !important;
}

.paper-top {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}

.paper-middle {
    border-radius: 0 !important;
    border-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.paper-bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-top: 0 !important;
}